[project]
	description = JAVA based web scraper - collects results from given sources using implemented selectors for each website template. You can define proxy servers or user agent for each selector to act as a specific user. Goal is to allow easy extending modules for traversing through many websites by implementing proper Selector. HTML navigating managed by JSoup. Package includes also ProxyFinder which download active proxies adresses from defined proxy selectors, so you needn't search by yourself.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michał Woś (wosiu)
[access "refs/for/refs/*"]
	read = group user/Michał Woś (wosiu)
	push = group user/Michał Woś (wosiu)
	label-Code-Review = -2..+2 group user/Michał Woś (wosiu)
	label-Verified = -1..+1 group user/Michał Woś (wosiu)
	rebase = group user/Michał Woś (wosiu)
	removeReviewer = group user/Michał Woś (wosiu)
	submit = group user/Michał Woś (wosiu)
[access "refs/heads/*"]
	read = group user/Michał Woś (wosiu)
	create = group user/Michał Woś (wosiu)
	push = +force group user/Michał Woś (wosiu)
	pushMerge = group user/Michał Woś (wosiu)
[access "refs/tags/*"]
	push = +force group user/Michał Woś (wosiu)
	pushTag = group user/Michał Woś (wosiu)
	pushSignedTag = group user/Michał Woś (wosiu)
